<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container container-fluid">
      <a class="navbar-brand" href="/">UMAD</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      
      <div class="navbar-nav d-flex" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/students" routerLinkActive = "Active"><i class="fa-solid fa-house"></i>  Students </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/matters" routerLinkActive = "Active"><i class="fa-solid fa-house"></i>  Matters </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/studentsMatters" routerLinkActive = "Active"><i class="fa-solid fa-house"></i>Students Matters </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/studentsMatters/add" routerLinkActive = "Active"><i class="fa-solid fa-house"></i>Students Matters - ADD </a>
          </li>
          <i class="fa-sharp fa-light fa-house-window"></i>
          <li class="nav-item">
            <a class="nav-link" routerLink="/students/add"><i class="fa-solid fa-plus"></i> Add-Students</a>
          </li>
          <li>
            <a href=""></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>






